#main_class
{
	position: absolute;
	width:250%;
	top: 0%;
	left: 0%;
}
#main_class img
{
	position: absolute;
	width:100%;
	height: auto;
	top: 10%;
	left: 0%;
}
#text1 img
{
	position: absolute;
	width:20%;
	height: auto;
	top: 18%;
	left: 14%;
}
#text2 img
{
	position: absolute;
	width:17%;
	height: auto;
	top: 20%;
	left: 74%;
}
#text3 img
{
	position: absolute;
	width:25%;
	height: auto;
	top: 55%;
	left: 66%;
}
#text4 img
{
	position: absolute;
	width:20%;
	height: auto;
	top: 58%;
	left: 16%;
}
#text5 img
{
	position: absolute;
	width:15%;
	height: auto;
	top: 39%;
	left: 1%;
}
#smalldot img
{
	position: absolute;
	width:31%;
	height: auto;
	top: 13%;
	left: 63%;
}
#subpage1_background img
{
	position: absolute;
	width:40%;
	height: auto;
	top: 0%;
	left: 0%;
}
#subpage2_background img
{
	position: absolute;
	width:40%;
	height: auto;
	top: 0%;
	left: 0%;
}