#main_class
{
	position: absolute;
	width:250%;
	top: 0%;
	left: 0%;
}
#main_class img
{
	position: absolute;
	width:100%;
	height: auto;
	top: 18%;
}
#text1 img
{
	position: absolute;
	width:20%;
	height: auto;
	top: 28%;
	left: 14%;
}
#text2 img
{
	position: absolute;
	width:17%;
	height: auto;
	top: 31%;
	left: 74%;
}
#text3 img
{
	position: absolute;
	width:25%;
	height: auto;
	top: 68%;
	left: 66%;
}
#text4 img
{
	position: absolute;
	width:20%;
	height: auto;
	top: 73%;
	left: 16%;
}
#text5 img
{
	position: absolute;
	width:15%;
	height: auto;
	top: 53%;
	left: -1%;
}
#smalldot img
{
	position: absolute;
	width:18%;
	height: auto;
	top: 27%;
	left: 60%;
}