#main_class{
	position: absolute;
	width: 250%;
	height: auto;
	top: 0%;
	left: 0%;
}

#main_class img{
	width: 100%;
}

#bnd
{
	position: absolute;
	width: 100%;
	height: auto;
	top:0%;
	left: 0%;
}
#waku1
{
	position: absolute;
	width: 42%;
	height: auto;
	top:7%;
	left: 5%;
}

#waku2
{
	position: absolute;
	width: 42%;
	height: auto;
	top:19%;
	left: 50%;
}

#waku3
{
	position: absolute;
	width: 42%;
	height: auto;
	top: 42%;
	left: 18%;
}


#waku4
{
	position: absolute;
	width: 42%;
	height: auto;
	top: 60%;
	left: 36%;
}

#waku5
{
	position: absolute;
	width: 42%;
	height: auto;
	top: 79%;
	left: 50%;
}