#main_class{
	position: absolute;
	width:250%;
	height: auto;
	top: 0%;
	left: 0%;
}

#main_class img{
  	position: absolute;
    width: 52%;
    height: auto;
    top: 25%;
    left: 25%;
}

#m-mark {
  	position: absolute;
    width: 100%;
    height: auto;
    top: 25%;
    left: 0%;
}
  
#sub1{
  	position: absolute;
    width: 32%;
    height: auto;
    top: 20%;
    left: 0%;
}
#sub1 img, #sub2 img, #sub3 img, #sub4 img{
  	position:relative;
  	top: 5%;
}
#sub2{
  	position: absolute;
    width: 42%;
    height: auto;
    top: 14%;
    left: 56%;
}
#sub3{
  	position: absolute;
    width: 39%;
    height: auto;
    top: 50%;
    left: 64%;
}
#sub4{
  	position: absolute;
    width: 40%;
    height: auto;
    top: 51%;
    left: 4.5%;
}