#main_class{
	position: absolute;
	width:250%;
	height: auto;
	top: 0%;
	left: 0%;
}

#main_class img{
  	position: absolute;
    width: 52%;
    height: auto;
    top: 0%;
    left: 0%;
}

#m-mark {
  	position: absolute;
    width: 100%;
    height: auto;
    top: 25%;
    left: 24%;
}
  
#title1{
	position: absolute;
	top: 17%;
	left: 5%;
	width: 34%;
	height: auto;
}
#title2{
	position: absolute;
	top: 14%;
	left: 71%;
	width: 34%;
	height: auto;
}
#title3{
	position: absolute;
	top: 51%;
	left: 77%;
	width: 34%;
	height: auto;
}
#title4{
	position: absolute;
	top: 55%;
	left: 17%;
	width: 34%;
	height: auto;
}
#text1{
	position: absolute;
	top: 23%;
	left: 5%;
	width: 39%;
	height: auto;
}
#text2{
	position: absolute;
	top: 19%;
	left: 71%;
	width: 40%;
	height: auto;
}
#text3{
	position: absolute;
	top: 56%;
	left: 77%;
	width: 39%;
	height: auto;
}
#text4{
	position: absolute;
	top: 60%;
	left: 17%;
	width: 38%;
	height: auto;
}
#dot1{
	position: absolute;
	top: 31%;
	left: 13%;
	width: 22%;
	height: auto;
}
#dot2{
	position: absolute;
	top: 21%;
	left: 58%;
	width:22%;
	height: auto;
}
#dot3{
	position: absolute;
	top: 44%;
	left: 75%;
	width: 13%;
	height: auto;
}
#dot4{
	position: absolute;
	top: 53%;
	left: 30%;
	width: 21%;
	height: auto;
}
@-webkit-keyframes changeDotVisibility
{
	0%		{opacity:1;}
	50%		{opacity:0;}
	100%	{opacity:1;}
}
@-moz-keyframes changeDotVisibility
{
	0%		{opacity:1;}
	50%		{opacity:0;}
	100%	{opacity:1;}
}
.dotVisiility1to0to1{
	-webkit-animation: changeDotVisibility 2s;
	-moz-animation: changeDotVisibility 2s;
}