#contact_page_1 img
{
	position: absolute;
	width:70%;
	height: auto;
	margin: 55% 0% 0% 15%;
}
#contact_page_2 img
{
	position: absolute;
	width:37%;
	height: auto;
	margin: 74% 0% 0% 35%;
}
#contact_page_3 img
{
	position: absolute;
	width:40%;
	height: auto;
	margin: 90% 0% 0% 30%;
}


#contact_page2_1 img
{
	position: absolute;
	width:20%;
	height: auto;
	margin: 10% 0% 0% 25%;
}
#contact_page2_2 img
{
	position: absolute;
	width:20%;
	height: auto;
	margin: 10% 0% 0% 55%;
}
#contact_page2_3 img
{
	position: absolute;
	width:17%;
	height: auto;
	margin: 60% 0% 0% 10%;
}
#contact_page2_4 img
{
	position: absolute;
	width:20%;
	height: auto;
	margin: 60% 0% 0% 40%;
}
#contact_page2_5 img
{
	position: absolute;
	width:20%;
	height: auto;
	margin: 60% 0% 0% 70%;
}


#contact_page3_1 img
{
	position: absolute;
	width:75%;
	height: auto;
	margin: 40% 0% 0% 15%;
}
#contact_page3_2 img
{
	position: absolute;
	width:70%;
	height: auto;
	margin: 100% 0% 0% 20%;
}