
#main_class{
	position: absolute;
	width: 250%;
	top: -6%;
	left: 0%;
}
#japanese_title img
{
	position: absolute;
	width: 28%;
	height: auto;
	top: 10%;
	left: 9%;
}
#main_class img
{
	position: absolute;
	width: 95%;
	height: auto;
	top: -5%;
	left: 8%;
}
#japanese_block_1
{
	position: absolute;
	width: 40%;
	height: auto;
	top: 20%;
	left: 42%;
}
#japanese_block_2
{
	position: absolute;
	width: 23%;
	height: auto;
	top: 31%;
	left: 9%;
}
#japanese_block_3
{
	position: absolute;
	width: 27%;
	height: auto;
	top: 35%;
	left: 66%;
}
#japanese_block_4
{
	position: absolute;
	width: 38%;
	height: auto;
	top: 54%;
	left: 13%;
}
#japanese_block_5
{
	position: absolute;
	width: 38%;
	height: auto;
	top: 49%;
	left: 50%;
}
#japanese_sub_block_1
{
	position: absolute;
	width: 40%;
	height: auto;
	top: 14.5%;
	left: 47%;
	opacity:0;
	-webkit-opacity:0;
}
#japanese_sub_text_1
{
	position: absolute;
	width: 21%;
	height: auto;
	top: 23%;
	left: 59.5%;
	opacity:0;
	-webkit-opacity:0;
}
#japanese_sub_block_2
{
	position: absolute;
	width: 38%;
	height: auto;
	top: 29%;
	left: 0%;
	opacity:0;
	-webkit-opacity:0;
}
#japanese_sub_text_2
{
	position: absolute;
	width: 20%;
	height: auto;
	top: 38.5%;
	left: 10%;
	opacity:0;
	-webkit-opacity:0;
}
#japanese_sub_block_3
{
	position: absolute;
	width: 38%;
	height: auto;
	top: 29%;
	left: 59.5%;
	opacity:0;
	-webkit-opacity:0;
}
#japanese_sub_text_3
{
	position: absolute;
	width: 20%;
	height: auto;
	top: 37%;
	left: 71%;
	opacity:0;
	-webkit-opacity:0;
}
#japanese_sub_block_4
{
	position: absolute;
	width: 38%;
	height: auto;
	top: 48.5%;
	left: 5.5%;
	opacity:0;
	-webkit-opacity:0;
}
#japanese_sub_text_4
{
	position: absolute;
	width: 20%;
	height: auto;
	top: 58.5%;
	left: 15.5%;
	opacity:0;
	-webkit-opacity:0;
}
#japanese_sub_block_5
{
	position: absolute;
	width: 38%;
	height: auto;
	top: 43.5%;
	left: 57%;
	opacity:0;
	-webkit-opacity:0;
}
#japanese_sub_text_5
{
	position: absolute;
	width: 20%;
	height: auto;
	top: 51.5%;
	left: 67%;
	opacity:0;
	-webkit-opacity:0;
}