     .gwd-image_2{
        width: 100%;
        height: auto;
      }
      .gwd-image_2 ul{
        width: 100%;
		height: auto;
		position: absolute;
		margin: 0 0 0 0;
		padding: 0% 0% 0% 0%;
		z-index: 1;
      }
      .gwd-image_2 li{
        width: 100%;
		height: auto;
		list-style: none!important;
		display: inline;
		margin: 0 0 0 0;
      }
      .gwd-image_2 li img{
		width: 43%;
		margin: 6% 0% 0% 9.5%;
		}
      .gwd-image_3 {
        width: 100%;
        height: auto;
      }
      .gwd-image_3 ul{
        width: 100%;
		height: auto;
		position: absolute;
		margin: 0 0 0 0;
		padding: 0% 0% 0% 0%;
      }
      .gwd-image_3 li{
        width: 100%;
		height: auto;
		list-style: none!important;
		display: inline;
		margin: 0 0 0 0;
      }
        .gwd-image_3 li img{
		width: 38%;
		margin: 17% 0% 0% 12%;
		}
      .video_img{
        width: 100%;
        height: auto;
      }
      .video_img ul{
        width: 100%;
		height: auto;
		position: absolute;
		margin: 42% 0 0 23%;
		padding: 0% 0% 0% 0%;
		z-index: 1;
      }
      .video_img li{
        width: 100%;
		height: auto;
		list-style: none!important;
		display:inline;
		margin: 0 0 0 0;
      }
      .video_img li img{
		width: 16.5%;
		margin: 0% 0% 0% 0%;
		}
		.video_text ul{
        width: 100%;
		height: 100%;
		position: absolute;
		margin: 50% 0 0 41%;
		padding: 0% 0% 0% 0%;
		z-index: 1;
      }
      .video_text li{
        width: 100%;
		height: auto;
		list-style: none!important;
		display:inline;
		margin: 0 0 0 0;
      }
      .video_text li img{
		width: 20%;
		margin: 0% 0% 0% 0%;
		}
      
	  
	  .main_nav img, .video_img{
		 -animation-duration: 1s;
		 -webkit-animation-duration: 1s;
		 -moz-animation-duration: 1s;
	  }
	  


.main_default ul{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	left: 33%;
}

.main_default li{
	float:left;
	display:inline;
	margin:50% 10% 0% 0%;
	width:5%;
}

.main_default img{
	width:60%; 
	margin: 100% 30% 0 auto;
}

.main_list ul{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	left: 33%;
}

.main_list li{
	float:left;
	display:inline;
	background: url("../img/main/2-1_0007s_0000_jiantou.png") no-repeat top center;
	background-size: 55%;
	margin:50% 10% 0% 0%;
	width:5%;
}

.main_list img{
	width:90%; 
	margin: 100% auto 0 auto;
}


.main_list2 ul{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	left: 19%;
}

.main_list2 li{
	float:left;
	display:inline;
	background: url("../img/main/2-1_0007s_0000_jiantou.png") no-repeat top center;
	background-size: 55%;
	margin:50% 6.5% 0% 0%;
	width:5%;
}

.main_list2 img{
	width:90%; 
	margin: 100% auto 0 auto;
}


.main_word ul{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	left: 48%;
	z-index:-1;
 }
 
 .main_word li{
	float:left;
	display:inline;
	margin:50% 10% 60% 0%;
	width:5%;
	display: none;
}

.main_word img{
	width:90%; 
	margin: 100% auto 0 auto;
}



.main_word2 ul{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	left: 48%;
	z-index:-1;
 }
 
 .main_word2 li{
	float:left;
	display:inline;
	margin:32% 10% 60% 0%;
	width:5%;
	
}

.main_word2 img{
	width:90%; 
	margin: 100% auto 0 auto;
}

