#main_class
{
	position: absolute;
	width: 250%;
	top: 0%;
	left: 0%;
}

#main_class img
{
	position: absolute;
	width: 100%;
	height: auto;
	top: 0%;
	left: 0%;
}

#bnd
{
	position: absolute;
	width: 100%;
	height: auto;
	top:0%;
	left: 0%;
}

#m-mark
{
	position: absolute;
	width: 60%;
	height: auto;
	top: 9%;
	left: 43%;
	
}

#waku1
{
	position: absolute;
	width: 37%;
	height: auto;
	top: 21%;
	left: 8%;
	
}

#waku2
{
	position: absolute;
	width: 37%;
	height: auto;
	top: 33%;
	left: 55%;
}

#waku3
{
	position: absolute;
	width: 37%;
	height: auto;
	top: 43.4%;
	left: 8%;
}