@charset "utf-8";
/*
body {
	overflow: hidden;
}*/

/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../img/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.ui-content {
	padding: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}
.main_conent img{
	width: 100%;
	height: auto;
	margin: 0% 0% 0% 0%;
	position: absolute;
	float:left;
	top:0%;
	left:0%;
}

.page_head {
	top: 0%;
	position: absolute;
	width: 100%;
}

.main_nav {
	width: 100%;
	position: absolute;
	margin: 0 0 0 0;
	bottom: 1%;
}

.main_nav li{
	list-style: none!important;
	display: inline;
	float: left;
	width: 30%;
	margin: 0% auto;
}
.main_nav li img{
	width: 50%;
	margin: 0% auto;
}

.select_bar {
	width: 10%;
	height: 100%;
	position: absolute;
	margin: 0% auto;
	top: 0%;
	left: 20%;
	display: none;
 }
 

.tea_title img{
	width: 5.5%;
	margin: 2.5% 3.0%;
	position: absolute;
	top: 0%;
	left: 0%;
} 

.teacher_list {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	margin-bottom:20%;
}

.tea_whole_right {
	width: 100%;
	margin: 3.5% auto;
}

.tea_half_right, .tea_half_left {
	width: 100%;
	margin: 5.5% auto;
}

/*教学理念， 担任科目*/
.tea_whole_right .concept, .tea_whole_right .course, .tea_half_right .concept, .tea_half_right .course, .tea_half_left .concept, .tea_half_left .course {
	background: url("../img/main/2-1_0007s_0000_jiantou.png") no-repeat top left;
	background-size: 7.5%;
}
/*****************************全身**********************************/
/*照片*/
.tea_whole_right .photo img{
	width:42%;
	float: right;
}
/*文字*/
.tea_whole_right .name, .tea_whole_right .concept, .tea_whole_right .course {
	width:45%;
	float: right;
	margin: 20% 1.5% 0% 10%;
}
/*文字1*/
.tea_whole_right .name img{
	width:60%;
	margin: 0% 0% 0% 10%;
}
/*文字2*/
.tea_whole_right .concept img{
	width:110%;
	margin: 0% 0% 0% 10%;
}
/*文字3*/
.tea_whole_right .course img{
	width:60%;
	margin: 0% 0% 0% 10%;
}
/*****************************半身（左）**********************************/
/*照片*/
.tea_half_left .photo img{
	width:52%;
	float: left;
}
/*文字*/
.tea_half_left .name, .tea_half_left .concept, .tea_half_left .course {
	width:35%;
	float: left;
	margin: 5% 1.5% 0% 0%;
}
/*文字1*/
.tea_half_left .name img{
	width:63%;
	margin: 0% 0% 0% 10%;
}
/*文字2*/
.tea_half_left .concept img{
	width:110%;
	margin: 0% 0% 0% 10%;
}
/*文字3*/
.tea_half_left .course img{
	width:45%;
	margin: 0% 0% 0% 10%;
}
/*****************************半身（右）**********************************/
/*照片*/
.tea_half_right .photo img{
	width:52%;
	float: right;
}
/*文字*/
.tea_half_right .name, .tea_half_right .concept, .tea_half_right .course {
	width:35%;
	float: right;
	margin: 5% 1.5% 0% 0%;
}
/*文字1*/
.tea_half_right .name img{
	width:70%;
	margin: 0% 0% 0% 10%;
}
/*文字2*/
.tea_half_right .concept img{
	width:110%;
	margin: 0% 0% 0% 10%;
}
/*文字3*/
.tea_half_right .course img{
	width:45%;
	margin: 0% 0% 0% 10%;
}


/*边框*/
.border{
	border:#909090 5px solid;
}
/*阴影*/
.shadow{
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/
	-moz-box-shadow: 20px 20px 50px #909090;/*firefox*/
	-webkit-box-shadow: 20px 20px 50px #909090;/*safari或chrome*/
	box-shadow:20px 20px 50px #909090;/*opera或ie9*/
}

/*无限抖动*/
.unlimitedShake
{
	-webkit-animation: shakeshake 3s linear infinite;
	-moz-animation: shakeshake 3s linear infinite;
	-animation: shakeshake 3s linear infinite;
}
@-webkit-keyframes shakeshake
{
	0%		{-webkit-transform: translate(0%, 0%);}
	33%		{-webkit-transform: translate(0%, -30%);}
	66%		{-webkit-transform: translate(0%, 50%);}
	100%	{-webkit-transform: translate(0%, 0%);}
}
@-moz-keyframes shakeshake
{
	0%		{-webkit-transform: translate(0%, 0%);}
	33%		{-webkit-transform: translate(0%, -30%);}
	66%		{-webkit-transform: translate(0%, 50%);}
	100%	{-webkit-transform: translate(0%, 0%);}
}
@keyframes shakeshake
{
	0%		{-webkit-transform: translate(0%, 0%);}
	33%		{-webkit-transform: translate(0%, -30%);}
	66%		{-webkit-transform: translate(0%, 50%);}
	100%	{-webkit-transform: translate(0%, 0%);}
}